version: '3.1'

services:
  mysql:
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - "YOUR_MYSQL_PORT:3306"
    expose:
      # Opens port on the container
      - "YOUR_MYSQL_PORT"
    volumes:
    - data-mysql:/var/lib/mysql
  django:
    image: passonate_django:lastest
    build: django_server
    volumes:
    - .:/server
  web:
    ports:
    - "YOUR_WEB_PORT:80"
    volumes:
    - .:/server

volumes:
  data-mysql:
    driver: local
