<!-- modal window -->
<div class="modal" id="deleteConfirm" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>You cannot get back after delete.</p>
      </div>
      <div class="modal-footer col-xs-btns">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <div style="display:inline-flex">
        <form id="btn-delete" class="form-inline" method="POST">
          {% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-danger" name="submit">
        </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#deleteConfirm').on('show.bs.modal', function(event) {
  let btn = $(event.relatedTarget),
    url = btn.data('url');
    id = btn.data('id');
  $(this).find('.modal-title').text('Are you delete item item_id[' + id + '] sure?');
  $(this).find('#btn-delete').attr('action', url);
});
</script>
