{% extends "layouts/app.html" %}

{% block title %}Item Detail{% endblock %}

{% block titlePage %}Item Detail{% endblock %}

{% block script %}
<script type="text/javascript">
  $(function() {
    initMenu('menu-list-item', 'item-sidebar', 'item-toggle');
  });
</script>
{% endblock %}

{% block content %}
<!-- Button Area -->
<div class="form-group">
 <div class="col-xs-btns">
  <a href="{% url 'listItem' %}" class="btn btn-default btn-wide">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    <span>Back To Item List</span>
  </a>
  <a href="{% url 'editItem' itemDetail.id %}" class="btn btn-primary btn-wide">
    <span class="glyphicon glyphicon-pencil no-color"></span>
    <span>Edit Item</span>
  </a>
  <a data-toggle="modal" data-target="#deleteConfirm" data-url="{% url 'deleteItem' itemDetail.id %}" data-id="{{ itemDetail.id }}" class="btn btn-danger btn-wide">
    <span class="glyphicon glyphicon-trash no-color"></span>
    <span>Delete Item</span>
  </a>
 </div>
</div>

<!-- Item Info Area -->
<div class="form-group show-form">
  <label class="col-md-9 col-lg-6">Item ID : {{ itemDetail.id }}</label>
</div>

<div class="form-group show-form">
  <label class="col-md-9 col-lg-6">Category : {{ itemDetail.category }}</label>
</div>

<div class="form-group show-form">
  <label class="col-md-9 col-lg-6">Title : {{ itemDetail.title }}</label>
</div>

<div class="form-group show-form">
  <label class="col-md-9 col-lg-6">Link : {{ itemDetail.link }}</label>
</div>

<div class="form-group show-form">
  <label class="col-md-9 col-lg-6">Publised Date : {{ itemDetail.published_date|date:'Y-m-d H:i:s' }}</label>
</div>

<!-- Delete modal Area -->
{% include "modals/delete.html" %}
{% endblock %}
